h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    width: max-content;
}
.form-outer{
margin: auto;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

form {
    background-color: #0e1a2b;
    padding: 2rem;
    grid-template-rows: 1fr 2fr;
    margin-top: 3rem;
}

form {
    display: block;
    margin-top: 0em;
}

.row1 {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    column-gap: 2rem;
}

.row1, form {
    display: grid;
}

.button-container {
    margin-bottom: 0;
}

.button-container {
    text-align: right;
}

.clear-filter-btn {
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #5692e8;
    padding: 0.5rem 1rem;
}


.button-container {
    text-align: right;
}