.nav-title-shadow {
    position: absolute;
    font-size: 47px;
    color: #243f64;
    font-weight: 600;
    top: -1%;
    opacity: 30%;
    /* left:-10%; */
    z-index: -1;
}

.nav-container {
    width: 100vw;
    font-family: "Montserrat",sans-serif;
    color: #fff;
    grid-area: navbar;
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
}

.nav-item-1, .nav-item-2 {
    opacity: 100% !important; 
    margin-left: 20px;
    height: 60px;
    margin-right: 5%;
    padding-left: 1.3em;
    position: relative;
    z-index: 1050;
    font-size: large;
    color: #fff;
}

a, a:hover {
    color: #fff;
    text-decoration: none;
}
.vis{
    opacity: 1 !important;
    font-weight: 900;
    color: #fff;
}

.hide{
    opacity: 0.3 !important;
    font-weight: 600;
    color: #263953;


}


