.sidebarOuter {
    display: block;
    grid-area: sidebarOuter;
    
   
}

option, select {
    background: #182c47;
    /* background: #fff; */
    padding: 5px;
    color: #c1d1e8;
  }

.sidebar-container {
    color: #fff;
    background: #0e1a2b;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;

    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(14, 26, 43);
    padding: 6%;
}

button {
    background: rgb(0, 0, 250);
    }

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* background: #182c47; */

}

input[type="text" i] {
    padding: 1px 2px;
}

input, textarea {
    width: 100%;
    background: #182c47 !important;

    border:#182c47;
    line-height: 2;
    margin-top: 0.5rem;
    color: #c1d1e8;
  }


